python has 2 basic number types:
integer

In [1]:
1

1

or float

In [2]:
1.3

1.3

In [5]:
3*1

3

exponent

In [6]:
3**4

81

modulo (remainder)

In [7]:
3%4

3

In [8]:
5%4

1

In [9]:
4%2

0

(useful to check if numbers are even)

In [12]:
# comment (won't run)

In [13]:
# string could use single or double quote (choose one depending on if you need a quote(s) inside)

In [15]:
num = 12
name = 'Sam'

In [18]:
# using .format to use variable name in strings
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is Sam'

In [4]:
var1= 'var1'
var2='var2'
var3 = 'var3'

In [22]:
print('this is a string with {}, {}, and {}.'.format(var1,var2,var3))

this is a string with var1, var2, and var3.

In [2]:
print ('this is a string with {var10} and {var10} and {var11}'.format(var10='anotherway',var11='yet another way'))

this is a string with anotherway and anotherway and yet another way

In [8]:
#can also use %r and %s. %r ("raw") is for debugging while %s is for showing.
print("this is a string with %r, %r, %s" % (var1, var2, var3))

this is a string with 'var1', 'var2', var3

lists

In [34]:
s = 'abcdefghijk'

In [36]:
#calling out of list (in this case treating string as list)
s[1]

'b'

In [42]:
#slice notation ':'
s[5:]
#everything including and after 5

'fghijk'

In [41]:
s[:1]
#up to but NOT including 1

'a'

In [45]:
s[1:5]
#including 1 through up to but not including 5

'bcde'

In [28]:
listA = ['a','b','c']

In [49]:
listA[0]

'a'

In [29]:
listA[0]='x'
#replaced value in list
listA

['x', 'b', 'c']

In [56]:
#can nest lists
listB = [1, 2, 3, ['x','y','z', listA]]
listB

[1, 2, 3, ['x', 'y', 'z', ['x', 'b', 'c']]]

In [59]:
print(listB[3])
print(listB[3][3][1])

['x', 'y', 'z', ['x', 'b', 'c']]
b

dictionaries

In [5]:
#dictionaries behave as key:value pairs
d= {'key1':'value1', 'key2':2, 'key3':[1,2,3]}
#kind of like calling value out of a list via  assigned variable names

In [4]:
d['key1']

'value1'

In [6]:
d['key3']

[1, 2, 3]

In [7]:
d['key3'][0]

1

In [9]:
#can also do nested dictionaries
dd = {'k':{'kk':[1,2,3]}}

In [10]:
dd['k']['kk'][2]

3

TUPLES

In [17]:
#like a list, except they are IMMUTABLE (cannot reassign an item)
# list uses brackets, tuples use parentheses
tup1 = (1,2,3)

In [14]:
tup1

(1, 2, 3)

In [16]:
tup1[0]=10
#see, it's immutable

TypeError: 'tuple' object does not support item assignment

SET

In [20]:
#a set is a collection of UNIQUE elements
#use CURLY BRACKETS
{1, 1, 1, 2, 3, 3}

#it reduces down to unique

{1, 2, 3}

In [21]:
#can use it as a function to grab unique elements
set([1,1,1,2,2,3,3,3,3])

{1, 2, 3}

In [26]:
#add to a set
s = {1,2,3}
s.add(5)
s

{1, 2, 3, 5}

COMPARISON OPERATORS

In [31]:
1>2

False

In [32]:
5==5

True

In [33]:
4>=4

True

In [34]:
#not equals
4!=5

True

In [35]:
'Hi'=='Bye'

False

In [36]:
2>1 and 2>5

False

In [38]:
(2>1) or (2>5)

True

IF statements

In [40]:
if True:
    print('then do an action')

then do an action

In [41]:
if 2>1:
    print('then do an action')

then do an action

In [5]:
if 1>2:
    print('then do an action')
elif 1>=5:
    print('do something elif')
elif 1>=0:
    print('do something elif2')
else:
    print('do something else')
    
    #Note: in python, the indentation matters

do something elif2

FOR

In [9]:
seq = [1,2,3,4,5]
for item in seq:
    print (item)

1
2
3
4
5

In [14]:
# for shorter code, can use RANGE
for x in range(0,5):
    print(x)

0
1
2
3
4

In [19]:
list(range(0,5))

[0, 1, 2, 3, 4]

WHILE

In [7]:
i=1
while i <= 5:
    print('i is {}'.format(i))
    i+=1

i is 1
i is 2
i is 3
i is 4
i is 5

LIST COMPREHENSION

In [22]:
# when you continually append values to a list, e.g.
#the non-list comprehension version:
my_list = []

for num in range(1,5):
    my_list.append(num**2)

print(my_list)

[1, 4, 9, 16]

In [29]:
#list comprehension version:
x=[1,2,3,4]
[num**2 for num in x] #like, "give me the num squared for num in x"

[1, 4, 9, 16]

In [30]:
[num**3 for num in range(1,5)]

[1, 8, 27, 64]

FUNCTION

In [31]:
def my_func(parameter1):
    print(parameter1)

In [32]:
my_func('testing')

testing

In [33]:
def my_func2(name):
    print('Hello '+name)

In [35]:
my_func2('Bob')

Hello Bob

In [44]:
#can set a default value
def my_func3(name='Default Name'):
    print('Hello '+name)
    
my_func3()

Hello Default Name

In [60]:
def square(num):
    return num**2

output = square(2)
output

# if you want to be able to assign the value to a variable or store it,
#use RETURN, NOT PRINT

4

In [61]:
def cube(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    DOCSTRING CAN BE CALLED TO GET MORE INFO ABOUT FUNCTION, but regular comments can't
    """
    #this is a comment. can't be called for function info
    return num**3

In [63]:
cube(3)

27

In [68]:
#in jupyter notebook, use shift tab to see function info; 
#generally, can use "help(function)"

In [65]:
help(cube)

Help on function cube in module __main__:

cube(num)
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    DOCSTRING CAN BE CALLED TO GET MORE INFO ABOUT FUNCTION, but regular comments can't

MORE ON FUNCTIONS - LIST MAP

In [4]:
def times2(var):
    return var*2

In [5]:
times2(5)

10

In [7]:
seq = [1,2,3,4,5]

In [8]:
map(times2,seq) #

In [13]:
list(map(times2,seq))
#map: Make an iterator that computes the function using arguments from
#each of the iterables.  Stops when the shortest iterable is exhausted.
#list: returns the outputs in a list

[2, 4, 6, 8, 10]

In [27]:
times2(seq)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

LAMBDA EXPRESSION

In [26]:
#LAMBDA EXPRESSION aka "anonymous function"

# basically a way to write an entire function into a single line of clean code
# useful to use with map

lambda var: var*2

In [18]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [25]:
list(filter(lambda num: num%2 ==0, seq)) # filters to just even values (num%2)
#filter: returns only values (arguments) for which func output would be TRUE

[2, 4]

METHODS

In [29]:
s = 'hello my name is Sam'

In [30]:
#enter object with period ("object.") and press tab to see list of methods

In [32]:
s.upper()  # remember to end with closed parentheses

'HELLO MY NAME IS SAM'

In [35]:
s.split()  #split by default splits on all the white spaces;
#can also split at specified parameters
# can be useful for text analysis

['hello', 'my', 'name', 'is', 'Sam']

In [43]:
tweet1 = 'Go Sports! #Sports #Lakers'
tweet2 = '#mylife #snoopy'
a = tweet1.split('#')
b = tweet2.split('#')
print(a)
print(b)

['Go Sports! ', 'Sports ', 'Lakers']
['', 'mylife ', 'snoopy']

In [44]:
d = {'k1': 1, 'k2':2} #dictionary

In [45]:
d

{'k1': 1, 'k2': 2}

In [46]:
d.keys() #keys method returns keys in a dictionary

dict_keys(['k1', 'k2'])

In [48]:
d.items() #returns items in dictionary

dict_items([('k1', 1), ('k2', 2)])

In [68]:
lst = [1,2,3,4,5]

In [69]:
item = lst.pop() #this will "pop" item in a list;
#returning it but also removing it from list
#default is last item, but can specify position
print(item)
print(lst)

5
[1, 2, 3, 4]

In [70]:
first = lst.pop(0)
print(first)
print(lst)

1
[2, 3, 4]

In [71]:
lst.append('99')
lst

[2, 3, 4, '99']

IN operator

In [72]:
#to check if something is in a list

'x' in [1,2,3]

False

In [73]:
'x' in ['x','y','z']

True

TUPLE UNPACKING

In [74]:
x=[(1,2),(3,4),(5,6)] #a list of tuples

In [79]:
for a,b in x:
    print(a)

1
3
5

In [80]:
for a,b in x:
    print(b)

2
4
6